
<div class="grid gap-4 grid-cols-1 mt-10 ">
  <div class="lg:col-span-1 pl-5">

    <span class="font-semibold text-4xl ">
      <%= @post.title %>
    </span>
    <p class="text-gray-500 text-sm">
      <%= @post.author %>, <%= Datex.Date.format_date(@post.date, "DAY_FULL, DATE MONTH_NAME_FULL YYYY") %>
    </p>

    <span>
      <%= @post.body %>
    </span>
  </div>

</div>
